html,body,.container-fluid {
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container-fluid{
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
}
/*左侧导航栏*/
.container-fluid > .left {
	width: 220px;
	background-color: #3C8A58;
	height: 100%;
	float: left;
	color: #fff;
}
.container-fluid > .left a {
	color: #fff;
	font-size: 16px;
	margin-left: 15px;
}
/*标题首页*/
.left > .title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 4em;
	border-bottom: 1px solid #ededed;
	cursor:pointer;
}
.left >ul.left_nav > li{
	text-align: center;
	line-height: 3em;
	border-bottom: 1px solid #ededed
}
.left >ul.left_nav > li.current{
	background-color: #284D33;
}


/*右侧*/
.container-fluid > .right {
	box-sizing: border-box;
	height: 100%;
	background-color: #ededed;
	margin-left: 220px;
	padding: 20px 20px;
}
.container-fluid > .right >.content {
	border-radius: 5px;
	background-color: #ffffff;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
}
/*头部栏*/
.container-fluid > .right >.content >.mb_nav{
	border-bottom: 1px solid #ccc;
	line-height: 2.5em;
	margin-bottom: .5em;
	font-size: 16px;
}
.mb_nav span{
	font-size: 14px;
	color: #3C8A58;
}
.mb_nav .span_m{
	font-size: 18px;
}


.container-fluid > .right >.content >.wrapper{
	box-sizing: border-box;
	padding: 1em;
}
.right .footer{
	font-size: 16px;
	color: gray;
}




